

    @font-face {
  font-family: 'wartext';
  src: url("/wartext.ttf") format('truetype');
       
}
body {
    background-color: black;
    color: turquoise;
    font-family: wartext;
    font-size: 24px;
    text-shadow: 0,0,6,turquoise;
    text-transform: none;
}
button {
    background-color: black;
    color: turquoise;
    font-family: wartext;
    font-size: 1em;
    border-color: turquoise;
    border: double 3px;
    text-transform: none;
    padding: 5px;
}
table {
    font-size: 1em;
    display: flexbox ;
    width: 100%;
}

th {
    text-align: left;
    text-transform: uppercase;
    border-bottom: solid 1px;
}

a {
    color: turquoise;
}

input {
    background-color: black;
    color: turquoise;
    border-color: turquoise;
    font-family: wartext;
    font-size: 1em;
    text-transform: none;
    padding: 5px;
    margin: 5px;
    border: solid 3px;
    border-style: double;

}

.campotexto {
    background-color: black;
    color: turquoise;
    border-color: turquoise;
    font-family: wartext;
    font-size: 1em;
    text-transform: none;
    padding: 5px;
    margin: 5px;
    border: none;
    border-bottom: solid 1px;

}

.campotexto:active {
    background-color: black;
    color: turquoise;
    border-color: turquoise;
    font-family: wartext;
    font-size: 1em;
    text-transform: none;
    padding: 5px;
    margin: 5px;
    border: none;
    border-bottom: solid 1px;

}

button {
    text-transform: uppercase;
    padding-top: 10px;
}
button:hover {
    color:black;
    background-color: turquoise;
}

h1 {
    font-size: 1em;
    background-color: turquoise;
    color: black;
    text-transform: uppercase;
    padding-top: 2px;
    display: inline-block;
}
